{
    "ActualProductSize_H": "300",
    "ActualProductSize_W": "500",
    "ImageFormat": ".jpg",
    "OutputDirPath": "D:/PCBData/output",
    "SampleDirPath": "D:/PCBData/sample",
    "TemplDirPath": "D:/PCBData/template",
    "clusterComPort": "COM3",
    "concaveRateThresh": "50",
    "convexRateThresh": "50",
    "matchingAccuracyLevel": "1",
    "nBasicUnitInCol": "6",
    "nBasicUnitInRow": "4"
}
