{
    "ActualProductSize_H": "200",
    "ActualProductSize_W": "310",
    "ImageFormat": ".bmp",
    "OutputDirPath": "D:/PCBData/output",
    "SampleDirPath": "D:/PCBData/sample",
    "TemplDirPath": "D:/PCBData/template",
    "clusterComPort": "COM3",
    "colorMode": "0",
    "concaveRateThresh": "1",
    "convexRateThresh": "1",
    "defectTypeToBeProcessed": "1111",
    "exposureTime": "200",
    "inetAddressOfRecheckPC": "192.168.0.125",
    "matchingAccuracyLevel": "1",
    "nBasicUnitInCol": "6",
    "nBasicUnitInRow": "4"
}
