{
    "JihefBfpne}": "-nye",
    "JihefEzrfg}Pbp`m": "2*:107:1",
    "JihefEzrfg}Pbp`m\\L": "0",
    "JihefEzrfg}Pbp`m\\S": "7",
    "Lq}rvpMkqThvk": "G>&Ulvbqsejg,U}-lq}rvp",
    "PedroaMkqThvk": "G>&Ulvbqsejg,U}-pedroa",
    "Wadro@`pSe}j": "G>&Ulvbqsejg,U}-wadroe}g",
    "mFhqjg\\ljp@l@ke": "5",
    "mFhqjg\\ljp@lQk~": "7",
    "mGhofvh": "6",
    "mTamwknpbtakmc": "7"
}
