{
    "@ihelBfpde}": "'nye",
    "AihemBfpee}": "&fdr",
    "Fq}r|pMk{Thva": "M>&Ufvbqyejg&U}-fq}r|p",
    "Gq}r}pMkzThv`": "L>&Ugvbqxejg'U}-XGKFmpla|+fw|t|v",
    "Hg}whhYpf`|a}W`xl[A": "?49",
    "Hg}whhYpf`|a}W`xl[^": "<49",
    "Ig}wihYpg`|a|W`xm[A": ">49",
    "Ig}wihYpg`|a|W`xm[^": "=49",
    "ZedreaMk{Thva": "M>&Ufvbqyejg&U}-zedrea",
    "[edrdaMkzThv`": "L>&Ugvbqxejg'U}-{edrda",
    "\\adrd@`pXe}j": "L>&Ugvbqxejg'U}-XGKFmpla|+}getec|a",
    "]adre@`pYe}j": "M>&Ufvbqyejg&U}-}adree}g",
    "fFhqag\\lap@lKke": ">",
    "fFhqag\\lap@lZk~": "<",
    "gFhq`g\\l`p@lJke": "?",
    "gFhq`g\\l`p@l[k~": "="
}
