{
    "ActualProductSize_H": "230",
    "ActualProductSize_W": "280",
    "ImageFormat": ".jpg",
    "OutputDirPath": "D:/Workspace/Qt/Data/output",
    "SampleDirPath": "D:/Workspace/Qt/Data/sample",
    "TemplDirPath": "D:/Workspace/Qt/Data/template",
    "clusterComPort": "COM3",
    "concaveRateThresh": "50",
    "convexRateThresh": "50",
    "matchingAccuracyLevel": "1",
    "nBasicUnitInCol": "6",
    "nBasicUnitInRow": "4"
}
