{
    "ActualProductSize_H": "260",
    "ActualProductSize_W": "310",
    "ImageFormat": ".bmp",
    "OutputDirPath": "D:/Workspace/Qt/PCBData/output",
    "SampleDirPath": "D:/Workspace/Qt/PCBData/sample",
    "TemplDirPath": "D:/Workspace/Qt/PCBData/template",
    "clusterComPort": "COM3",
    "colorMode": "0",
    "concaveRateThresh": "50",
    "convexRateThresh": "50",
    "defectTypeToBeProcessed": "1110",
    "exposureTime": "310",
    "matchingAccuracyLevel": "1",
    "nBasicUnitInCol": "6",
    "nBasicUnitInRow": "4"
}
